<div>
    <div class="container">

        <br>
        <div class="productInfo">Kurzbezeichnung <div class= "info">{{product?.produktDto.kurzbezeichnung}}</div></div>

        <br><div class = "divider"></div>

        <span class="productInfo">Bezeichnung</span> {{product?.produktDto.bezeichnung}}

        <br><div class = "divider"></div>

        <span class="productInfo">Langbezeichung</span> {{product?.produktDto.langbezeichnung}}

        <br><div class = "divider"></div><br>


        <button type="button" class="btn btn-success" (click)="ausleihen()">Ausleihen</button>

        <div *ngIf="ausleihenClicked">
            <br>
            <div class="form-group">
                <select [(ngModel)]="selectedClass" class="form-control dropdown">
                    <option value="xx">
                        -- Klasse auswählen --
                    </option>
                    <option>
                        5BHITM
                    </option>
                    <option>
                        5AHITM
                    </option>
                    <option>
                        4AHITM
                    </option>
                </select>
            </div>
            <div class="form-group">
                <select [(ngModel)]="selectedStudent" class="form-control dropdown">
                    <option value="xx">
                        -- Schüler auswählen --
                    </option>
                    <option>
                        Pascal Bachinger
                    </option>
                    <option>
                        Janine Feyrer
                    </option>
                    <option>
                        Raphael Spitzbart
                    </option>
                    <option>
                        Nico Zandomeneghi
                    </option>
                </select>
            </div>
            <br>
            <input class="datepicker" type="date"> <br>
            <button type="button" class="btn btn-success" (click)="pushAusleihen()">jetzt Ausleihen</button>
        </div>
    </div>
</div>