@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
    background-color: #F4F7FC!important;
}

*{
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}