.menuIcon{
    width: 24pt !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.activeLink:hover{
    background-color: green;
}

.topBar{
    background-color: #4B7BEC;
    /* activate if top bar > left bar
    height: 10%;
    width: 100%;
    padding: 5px;
    position: absolute;
    z-index: 100;
    */
    /*border-bottom: 2px solid #DBDBDB;*/
}

.myItem{
    font-size: 15pt;
}

a{color: white;}