<div class="topBar">
  <ul class="nav justify-content-center">
    <li class="nav-item myItem">
      <a class="nav-link active myItem" href="\home"> <img src="../../assets/home.png" class="menuIcon">Home</a>
    </li>
    <li class="nav-item active myItem">
      <a class="nav-link" href="\products"><img src="../../assets/products.png" class="menuIcon">Equipments</a>
    </li>
    <li class="nav-item active myItem">
      <a class="nav-link" href="\warenkorb"><img src="../../assets/warenkorb.png" class="menuIcon"> Warenkorb</a>
    </li>
    <li class="nav-item active myItem">
      <a class="nav-link" href="\admin"><img src="../../assets/admin.png" class="menuIcon"> Admin</a>
    </li>
  </ul>
</div>