

.sideBar{
    background-color: #333F65;
    width: 15%;
    height: 100vh;
    z-index: 100;
}

.myMenu{
    display: block;
    padding-top: 5%;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

.myItem{
    font-size: 15pt;
    height:100%;
    color: white;
    padding-top: 20%;
    text-decoration: none;

}

.menuIcon{
    width: 20pt !important;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.logo{
    color: white;
    background-color: #3D4A73;
    height: 50px;

}


.topBar{
    position: fixed;
    right: 0;
    background-color: #FFFFFF;
    height: 50px;
    width: 85%;
    z-index: 200;
}

.content{

    margin-left: 70%;
    margin-top: 5px;
    font-size: 2em;
    font-family: 'Karla', sans-serif;
}

.content img{
    width: 10%;
    border-radius: 50%;
}