<div class="all">
  <div class="topBar">
    <div class="content">

      <div>{{user?.vorname}} {{user?.nachname}}</div>


    </div>

  </div>


  <div class="sideBar">

    <div class="logo"><img src="../../assets/logo_ev_white.png" width="90%"></div>

    <ul class="myMenu">


      <div class="myItem">
        <a class="myItem" routerLink="home">
          <img src="../../assets/home.png" class="menuIcon">Home</a>
      </div>

      <div class="myItem">
        <a class="myItem" routerLink="products">
          <img src="../../assets/products.png" class="menuIcon">Equipment</a>
      </div>

      <div class="myItem" *ngIf="isAdmin">
        <a class="myItem" routerLink="admin">
          <img src="../../assets/admin.png" class="menuIcon"> Admin</a>
      </div>

      <div class="myItem" class = "under" *ngIf="isAdmin && inAdmin">
        <a class="myItem" routerLink="admin/list">
          <img src="../../assets/side_icons/admin_list.png" class="menuIcon"> Liste </a>
      </div>

      <div class="myItem" class = "under" *ngIf="isAdmin && inAdmin">
        <a class="myItem" routerLink="admin/create">
          <img src="../../assets/side_icons/admin_create.png" class="menuIcon">Erstellen</a>
      </div>

      

      

    </ul>

    <button class = "logout" (click)="logoutUser()">Logout</button>

  </div>

</div>