.sideBar{
    position: fixed;
    background-color: #333F65;
    width: 10%;
    height: 100vh;
    z-index: 100;
}

.myMenu{
    display: block;
    padding-top: 5%;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

.myItem{
    font-size: 15pt;
    height:100%;
    color: white;
    padding-top: 20%;
    text-decoration: none;

}

.menuIcon{
    width: 20px !important;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.logo{
    color: white;
    background-color: #3D4A73;
    height: 50px;

}


.topBar{
    position: fixed;
    right: 0;
    background-color: #FFFFFF;
    height: 50px;
    width: 90%;
    z-index: 200;
}

.content{

    margin-left: 90%;
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Karla', sans-serif;
}

.content img{
    width: 10%;
    border-radius: 50%;
}



.logout {

    position: absolute;
    bottom: 1%;
    left: 3%;

    background-color: rgb(216, 94, 94);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}