<div id="left"></div>
<div id="right">
  <div id="container">
    <img src="../../assets/logo_ev.png" width="50%">
    <p style="color: #b0b2bf">Willkommen zurück, bitte logge dich ein!</p>
  
    <div class="form-group">
      <input class="inputForm" placeholder="Username" type="text" [(ngModel)]="inputUser">
    </div>
    <div class="form-group">
      <input class="inputForm" placeholder="Password" type="password" [(ngModel)]="inputPassword" style="margin-left: 5px;">
    </div>
    <div style="color: red" *ngIf="loginFailed">Bitte überprüfen Sie den Usernamen und das Passwort!</div>
    <br>
    <button class="btn btn-primary" (click)="loginUser()">Login</button>
  </div>
</div>