<div id="left"></div>
<div id="right">
  <div id="container">
    <img src="../../assets/Logo_solo.png" width="10%">
    <h1>Verleih-System</h1>
    <p style="color: #b0b2bf">Willkommen zurück, bitte logge dich ein!</p>
  
    <div class="form-group">
      <label style="margin-top:50px; margin-right: 25px; margin-bottom: 2px;">Username </label>
      <input class="inputForm" type="text" [(ngModel)]="inputUser">
    </div>
    <div class="form-group">
      <label style="margin-right: 25px; margin-top: 2px;">Passwort </label>
      <input class="inputForm" type="password" [(ngModel)]="inputPassword" style="margin-left: 5px;">
    </div>
    <div style="color: red" *ngIf="loginFailed">Bitte überprüfen Sie den Usernamen und das Passwort!</div>

    <button class="btn btn-primary" (click)="loginUser()">Anmelden</button>
  </div>
</div>