.titleBox{
  width: 100%;
  margin-top:5%;
  text-align: center;
}

.title{
    font-size: 3em;
    color: #333333;
    font-family: 'Karla', sans-serif;    
}


.over{
    background-color: #F5F6Fa;
    position: absolute;
    top:0;
    right: 0;
    width: 90%;
    z-index: 0;
    font-family: 'Karla', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #333F65;
  color:white;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr{
  transition: all .2s ease-in-out;
}

tr:hover{
    cursor: pointer;
    transform: translateX(10px);
}

tr:nth-child(even) {background-color: #e4e4e4;}


  .myImage{
    height: 50px;
    width: 50px;
  }

