<div class="over">

    <div class="leftBox">

        <div class="sidenav">
            <a href="/home"><img src="../../assets/side_icons/home_rented.png" width="50%"><br> Verliehen</a>
        </div>
    
      </div>

<div class="container">
        <label class= "title">Verliehen</label>

    <table cellspacing="0" cellpadding="0" class="table-hover" >
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Kurzbezeichnung</th>
            <th scope="col">Marke</th>
            <th scope="col">Inventurnummer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.bezeichnung}}</td>
            <td>{{product.kurzbezeichnung}}</td>
            <td>{{product.marke}}</td>
            <td>{{product.inventurnummer}}</td>
          </tr>
        </tbody>
      </table>
     
</div>
</div>

