<div class="over">
<div class="container">
        <label class= "title">Verliehen</label>

    <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Kürzel</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products?.produktDtoList">
            <th scope="row">1</th>
            <td>{{product.bezeichnung}}</td>
            <td>{{product.kurzbezeichnung}}</td>
            <td>{{product.status}}</td>
          </tr>
        </tbody>
      </table>
     
</div>
</div>