<div class="over">

  <div class="container">
    <div class="titleBox">
      <label class="title">Dein Equipment</label>
    </div>
    <label>Ausgeborg</label>
    <p *ngIf="products?.verleihDtoList.length <= 0">Sie haben kein Equipment ausgeborgt.</p>
    <table cellspacing="0" cellpadding="0" class="table-hover" *ngIf="products?.verleihDtoList.length > 0">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Kurzbezeichnung</th>
          <th scope="col">Marke</th>
          <th scope="col">Von</th>
          <th scope="col">Bis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products?.verleihDtoList" (click)="goToDetailView(product.produkt)">
          <td *ngIf="product.produkt.foto"><img class="myImage" src="{{product.produkt.foto}}" alt="..."></td>
          <td *ngIf="!product.produkt.foto"><img class="myImage" src="../../assets/default_camera.png" alt="..."></td>
          <td>{{product.produkt.bezeichnung}}</td>
          <td>{{product.produkt.kurzbezeichnung}}</td>
          <td>{{product.produkt.marke}}</td>
          <td>{{product.startDate}}</td>
          <td>{{product.endDate}}</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <label>Reserviert</label>
    <p *ngIf="reservierungProducts?.reservierungDtoList.length <= 0">Sie haben kein Equipment reserviert.</p>
    <table cellspacing="0" cellpadding="0" class="table-hover" *ngIf="reservierungProducts?.reservierungDtoList.length > 0">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Kurzbezeichnung</th>
          <th scope="col">Marke</th>
          <th scope="col">Von</th>
          <th scope="col">Bis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of reservierungProducts?.reservierungDtoList" (click)="goToDetailView(product.produkt)">
          <td *ngIf="product.produkt.foto"><img class="myImage" src="{{product.produkt.foto}}" alt="..."></td>
          <td *ngIf="!product.produkt.foto"><img class="myImage" src="../../assets/default_camera.png" alt="..."></td>
          <td>{{product.produkt.bezeichnung}}</td>
          <td>{{product.produkt.kurzbezeichnung}}</td>
          <td>{{product.produkt.marke}}</td>
          <td>{{product.startDate}}</td>
          <td>{{product.endDate}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>